.ekart--products--container{
    margin: 20px auto;
    display:flex;
    flex-wrap: wrap;
    padding: 0px 17vh;
}

.ekart--product--item{
    width: 290px;
    background-color: #FDFEFE;
    margin: 10px 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: #efefef 2px solid;
}

.ekart-wishlist-sale-container{
    display: inline-block;
    width: 270px;
    position: absolute;
    padding: 5px 0px;
}
.ekart--add--to--wishlist{
    padding:2px 10px;
    text-align: right;
    font-size: 22px;
    position: absolute;
}
/* Sale tag */
.ekart-on-sale-tag{
    float: right;
    font-size: 14px;
    margin-top: 10px;
    margin-right:-10px;
    padding: 5px 10px;
    background-color: #FFC000;
    color: #28282B;
    font-weight: bold;
}


.ekart--add--to--price{
    padding:1px 5px;
    position:absolute;
    margin-top: -25px;
    background-color:#28282B;
    color:white;
}

.ekart--product--image{
    width: 265px;
    height: 250px;
}
.ekart--product--name{
    font-size: 14px;
    color: #28282B;
    margin-top: 7px;
}
.ekart--product--category,
.ekart--product--available-colors{
    font-size: 12px;
    color: #999;
    margin-top: 7px;
}
.ekart--product--item:hover{
    -webkit-box-shadow: 0 0 1px #000 inset;
    -moz-box-shadow: 0 0 1px 3px #000 inset;
    border: #efefef 0 0 1px 3px #000 inset;
    box-shadow: 10px 10px 18px #cccccc;
    transform: scale(1.05);
}

.image-container {
    background: url('https://www.bing.com/images/search?view=detailV2&ccid=sMerUYr1&id=BF51F62C49C099108AB69A0FCC6A90729566DB4D&thid=OIP.sMerUYr1YD9aHIEPsepiTgAAAA&mediaurl=https%3a%2f%2fstatic.vecteezy.com%2fsystem%2fresources%2fpreviews%2f005%2f337%2f799%2foriginal%2ficon-image-not-found-free-vector.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.b0c7ab518af5603f5a1c810fb1ea624e%3frik%3dTdtmlXKQaswPmg%26pid%3dImgRaw%26r%3d0&exph=474&expw=474&q=image+not+found+image&simid=608007330850424564&FORM=IRPRST&ck=2D3741DF6E3900B5EAC20C394EA06AD0&selectedIndex=1&itb=0') no-repeat center center;
    background-size: cover;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  